[Unit]
Description=Systemd service for logging system info at startup

[Service]
ExecStart=/usr/local/bin/testscript.sh

[Install]
WantedBy=default.target
